@charset "utf-8";
* { font-family: Arial, Helvetica, sans-serif
/* height 100% */
}

body {
    background-image: linear-gradient(to left,#737b8f, #6e71a1, #6e8eaa, #8d95ad, #658bb9, #709db6);}

main {
    background-color: hsla(201, 44%, 81%, 0.753);
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(14, 29, 97, 0.767);
    width: 680px;
    padding: 20px;
    margin: auto; }

    h1 {color:#574d70; 
        text-align: center;
        text-shadow: 1px 1px 2px rgb(255, 252, 252);
        }
       
    h2 {color: #364c8d;
        text-align: center;
    }

    h4 {text-align: center;}

    h5 {text-align: center;}
p {
    text-align: justify;}