@charset "UTF-8";

:root {
   --cor-fundo: #010611d6;rgba(87, 115, 177, 0.938);
   --cor-hover: #72a8f4c9;rgba(0, 25, 109, 0.911);
   --cor-primaria: rgb(231, 241, 236);
}

* {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

body {
   padding: 70px 0 0 0;
   background-image: linear-gradient(to left, #6E7DAB, #5762d5, #d1d9e3);
   display: block;
}

.dp-menu {
   position: fixed;
   top: 0;
   z-index: 1000;
   display: flex;
   justify-content: center;
   width: 100%;
}

.dp-menu ul ul li.empty-item {/* Define a altura do item vazio para criar espaço */
   height: 35px; /* Ajuste a altura conforme necessário */
}
/* Remove o efeito de hover do item vazio */
.dp-menu ul ul li.empty-item a:hover {
   background-color: transparent; /* Torna o fundo transparente */
   color: inherit; /* Mantém a cor do texto original */
}
.dp-menu ul {
   display: flex;
   flex-wrap: nowrap; /* Permite que os itens do menu quebrem para a próxima linha se necessário */
   background-color: var(--cor-fundo);
   border-radius: 7px;
   list-style-type: none;
   padding: 1%;
   width: 100%;
   max-width: 1400px;
   margin: 0 auto;
   box-sizing: border-box;
   justify-content: space-around;
}

.dp-menu ul li {
   flex: 1 1 auto; /* Permite que os itens cresçam e encolham conforme necessário */
   display: flex;
   position: relative;
   min-width: 200px; /* Ajuste este valor conforme necessário */
}

.dp-menu ul li a {
   color: var(--cor-primaria);
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px; /* Ajuste o padding conforme necessário */
   transition: background 1.5s;
   white-space: nowrap;
   width: 200%; /* Garante que o fundo acompanhe o texto */
}

.dp-menu ul li a:hover {
   background-color: var(--cor-hover);
   border-radius: 10px;
}

/* Submenu */
.dp-menu ul ul {
   display: none;
   left: 0; /* Alinhando o submenu */
   position: absolute;

}

.dp-menu ul li:hover ul {
   display: block;
}

.dp-menu ul ul li a {
   display: block;
}

#txt {
   background-color: hsla(201, 44%, 81%, 0.74);
   border-radius: 10px;
   box-shadow: 10px 10px 15px rgba(14, 29, 97, 0.767);
   width: 100%;
   max-width: 1400px;
   padding: 2%;
   margin: 2% auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 10px;
}

#txt img {
   max-width: 100%;
   height: auto;
   margin-top: 15px;
   margin-bottom: 15px;
}


h1 {
   color: #2f21f3c7;
   text-align: center;
   text-shadow: 1px 1px 2px rgb(255, 252, 252);
}

h2 {
   color: #364c8d;
}


.espaco-reduzido {
   margin: 0;
   margin-bottom: 5px; /* Ajuste o valor conforme necessário */
   display: inline; /* Garante que o parágrafo se comporte como parte do texto */
   text-align: left; /* Alinha o texto à esquerda */
   line-height: 1.5; /* Ajusta a altura da linha para garantir que a imagem e o texto estejam alinhados*/ 
}

.espaco-reduzido img {
   display: inline; /* Garante que a imagem se comporte como parte do texto */
   vertical-align: middle; /* Alinha a imagem verticalmente ao meio do texto */
   width: auto; /* Mantém a proporção da imagem */
   height: 1.0em; /* Ajusta a altura da imagem para ser um pouco maior que o texto */
   margin-left: 3px; /* Espaço entre a imagem e o texto */
   margin-top: 0; /* Remove qualquer margem superior */
   margin-bottom: 0; /* Remove qualquer margem inferior */
   
}
p {
   text-align: justify;
   text-indent: 30px;
   margin-bottom: 10px; /* Ajuste o valor conforme necessário */
}

.destaque {
   font-weight: bold;
   color: orange; /* Cor abóbora */
   background-color: black; /* Fundo preto */
   padding: 2px 5px; /* Adiciona um pouco de espaço ao redor do texto */
   border-radius: 3px; /* Opcional: arredonda os cantos */
}
.destaqueblu {
   font-weight: bold;
   color: rgb(73, 114, 249); /* Cor abóbora */
   background-color: black; /* Fundo preto */
   padding: 1px 1px; /* Adiciona um pouco de espaço ao redor do texto */
   border-radius: 1px; /* Opcional: arredonda os cantos */
}
.destaqueoff {
   font-weight: bold;
   color: rgb(95, 95, 96); /* Cor abóbora */
   background-color: black; /* Fundo preto */
   padding: 1px 1px; /* Adiciona um pouco de espaço ao redor do texto */
   border-radius: 1px; /* Opcional: arredonda os cantos */
}
.corp {
   text-align: right;
}
/* Estilos responsivos */
@media (max-width: 600px) {
   .dp-menu ul {
      flex-wrap: nowrap; /* Garante que os itens não quebrem para a próxima linha */
      height: auto; /* Permite que a altura do menu se ajuste ao conteúdo */
   }

   .dp-menu ul li {
      flex: 1 1 auto; /* Permite que os itens cresçam e encolham conforme necessário */
      min-width: auto; /* Remove a largura mínima */
   }

   .dp-menu ul li a {
       font-size: 12px; /* Reduz o tamanho do texto para telas menores */
       padding: 4px; /* Ajusta o preenchimento interno */
   }

   .dp-menu ul ul {
      position: absolute; /* Posiciona os submenus de forma estática em telas menores */
      width: 200%; /* Garante que o submenu ocupe 100% da largura do item pai */
   }

   .dp-menu ul ul li a {
      width: 100%; /* Garante que o fundo cubra toda a largura do texto */
      padding: 8px; /* Ajusta o preenchimento conforme necessário */
   }
}

@media (min-width: 601px) and (max-width: 1024px) {
   .dp-menu ul {
      flex-wrap: nowrap; /* Garante que os itens não quebrem para a próxima linha */
      height: auto; /* Permite que a altura do menu se ajuste ao conteúdo */
   }

   .dp-menu ul li {
      flex: 1 1 auto; /* Permite que os itens cresçam e encolham conforme necessário */
      min-width: auto; /* Remove a largura mínima */
   }

   .dp-menu ul li a {
       font-size: 14px; /* Ajusta o tamanho do texto para telas médias */
       padding: 6px; /* Ajusta o preenchimento interno */
   }

   .dp-menu ul ul {
      position: absolute; /* Posiciona os submenus de forma estática em telas médias */
      width: 100%; /* Garante que o submenu ocupe 100% da largura do item pai */
   }

   .dp-menu ul ul li a {
      width: 100%; /* Garante que o fundo cubra toda a largura do texto */
      padding: 8px; /* Ajusta o preenchimento conforme necessário */
   }
}
ul {
   padding-left: 20px; /* Ajuste o valor conforme necessário */
}
li {
   text-align: left;
}
 
/* Estilo padrão para os links */
.my-link2 {
   font-size: 20px;
   font-weight: bold;
   color: #0033ff; /* Cor do link não visitado */
   text-decoration: underline; /* Mantém o sublinhado do link */
   cursor: pointer; /* Cursor vira mãozinha */
}

/* Estilo para link visitado */
.my-link2:visited {
   color: #5a0199; /* Cor do link visitado */
}

/* Estilo para o link quando passa o mouse */
.my-link2:hover {
   color: #02028e; /* Cor mais escura ao passar o mouse */
}

/* Estilo para alinhar à direita */
.align-right {
   text-align: right; /* Alinha o texto à direita */
   display: block; /* Transforma o link em um bloco para ser alinhado */
}
