@charset "UTF-8";

:root { /*cores do menu*/
   --cor-fundo: #010611bd;rgba(87, 115, 177, 0.938);
   --cor-hover: #0068ad;rgba(0, 25, 109, 0.911);
   --cor-primaria: rgb(231, 241, 236);
}

* { 
   font-family: Arial, Helvetica, sans-serif;
   /* height 100% */
}

.dp-menu ul {/* formatação do menu*/
   list-style-type: none; 
   padding: 0; 
}

.dp-menu ul { /*cores do menu*/
   background-color: var(--cor-fundo);
   border-radius: 10px;
}

.dp-menu ul li { /* alinhamento do menu */
   display: inline; /*menu alinhamento*/
   position: relative; /*menu alinhamento*/
}

.dp-menu ul li a { 
   color: var(--cor-primaria);
   text-decoration: none;
   display: inline-block; /*menu alinhamento*/
   margin-right: 1%;  /*largura menu*/
   padding: 1.5%;/*altura menu*/
   transition: background 0.5s;
}

.dp-menu ul li a:hover {
   background-color: var(--cor-hover);
   border-radius: 10px;
}

/*sub menu*/
.dp-menu ul ul {
   display: none;
   left: 0; /*alinhando menu*/
   position: absolute;   
}

.dp-menu ul li:hover ul {
   display: block;
}

.dp-menu ul ul {   
   width: 250px;
}

.dp-menu ul ul li a {
   display: block;
}

body {
   background-image: linear-gradient(to left, #6E7DAB, #5762d5, #d1d9e3);
}

#txt {
   background-color: hsla(201, 44%, 81%, 0.74);
   border-radius: 10px;
   box-shadow: 10px 10px 15px rgba(14, 29, 97, 0.767);
   width: 80%; /* Ajuste a largura conforme necessário */
   max-width: 800px; /* Limite máximo de largura */
   padding: 2%;
   margin: 2% auto; /* Centraliza horizontalmente */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

#txt img {
   max-width: 100%; /* Garante que a imagem se ajuste ao contêiner */
   height: auto; /* Mantém a proporção da imagem */
   margin-top: 10px; /* Adiciona espaço acima da imagem */
   margin-bottom: 10px; /* Adiciona espaço abaixo da imagem */
}


h1 {
   color: #2f21f3c7;
   text-align: center;
   text-shadow: 1px 1px 2px rgb(255, 252, 252);
}

h2 {
   color: #364c8d;
}

.espaco-reduzido {
   margin-bottom: 5px; /* Ajuste o valor conforme necessário */
   display:inline;
   align-items: center; /* Alinha verticalmente ao centro */
}
.espaco-reduzido img {
   display: inline; /* Garante que a imagem se comporte como parte do texto */
   vertical-align: middle; /* Alinha a imagem verticalmente ao meio do texto */
   width: auto; /* Mantém a proporção da imagem */
   height: 1.0em; /* Ajusta a altura da imagem para ser um pouco maior que o texto */
   margin-left: 3px; /* Espaço entre a imagem e o texto */
}
p {
   text-align: justify;
   text-indent: 30px;
   margin-bottom: 10px; /* Ajuste o valor conforme necessário */
}

.destaque {
   font-weight: bold;
   color: orange; /* Cor abóbora */
   background-color: black; /* Fundo preto */
   padding: 2px 5px; /* Adiciona um pouco de espaço ao redor do texto */
   border-radius: 3px; /* Opcional: arredonda os cantos */
}
.destaqueblu {
   font-weight: bold;
   color: rgb(73, 114, 249); /* Cor abóbora */
   background-color: black; /* Fundo preto */
   padding: 2px 5px; /* Adiciona um pouco de espaço ao redor do texto */
   border-radius: 3px; /* Opcional: arredonda os cantos */
}

.corp {
   text-align: right;
}
